body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#info{
  padding-top: 2rem;
  color:darkgray;
}

#buy{
  margin-top: 20px;
}

.btn{
  margin-bottom: 10px;
}
